body {
    font-family: sans-serif;
    font-size: 14px;
    background: #222f38;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    color: #7EB050;
}

#container {
    text-align: left;
    margin: 5em auto;
    color: black;
    width: 60%;

}

#fortune {
    font-family: 'Merriweather', serif;
    font-size: 3em;
    margin: 0.5em 0;
    background: #eee;
    padding: 0.3em;
    border: 2px solid #ccc;
    border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#fortune-source {
    font-size: 2em;
    color: #aaa;
    text-align: center;
}

#auto-reload {
    text-align: center;
    margin: 2em;
    color: #888;
}

#auto-reload input {
    margin-right: 0.4em;
}

#footer {
    margin-top: 2em;
    text-align: center;
}

@media (max-width: 800px) {
    body {
        font-size: 10px;
    }

    #container {
        width: 80%;
    }
}
